body {
    margin: 0;
    padding: 0;
}
.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 1;
}

@import "Search.css";
@import "Foods.css";
@import "Recipe.css";
